*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    @font-face {
        font-family: Inter-Thin;
        src: url(/assets/fonts/Inter/Inter-Thin.ttf);
    }
}


@media (prefers-color-scheme: dark){
    body{
        background: #030712;
    }
}