// <!--------- Font variables -------!>
@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

// <!--------- Color variables -------!>
$text-color: #4b5563;
$text-gray100: #f3f4f6;
$text-gray200: #e5e7eb;
$text-gray700: #374151;
$text-gray900: #111827;
$text-btn: #f9fafb;

