#about {
  @include section;
  .about {
    display: flex;
    padding: 0px 32px;
    align-items: center;
    gap: 48px;
    &_auto {
      margin: auto;
      margin-bottom: 48px;
      width: 105px;
      padding: 4px 20px;
      justify-content: center;
      text-align: center;
      border-radius: 12px;
      background: $text-gray200;
      color: $text-color;
      p {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
    }

    &_left {
      display: flex;
      width: 584px;
      min-width: 444px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      img {
        width: 400px;
        height: 480px;
        box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
        -webkit-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
        -moz-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
        cursor: pointer;
        filter: grayscale(1);
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease-in;

        &:hover {
          -webkit-box-shadow: -51px 41px 0px 2px rgba(229, 231, 235, 1);
          -moz-box-shadow: -51px 41px 0px 2px rgba(229, 231, 235, 1);
          box-shadow: -51px 41px 0px 2px rgba(229, 231, 235, 1);

          filter: grayscale(0);
          transform: scale(1.1);
        }
      }
    }
    &_right {
      display: flex;
      width: 584px;
      min-width: 444px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &-item {
          color: $text-color;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      &-blog {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        &-list {
          display: flex;
          text-decoration: dotted;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          &-item {
            color: $text-color;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #about {
    .about_auto {
      display: flex;
      align-items: center;
      margin-bottom: 100px;
    }
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &_left {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        img{
          width: 280px !important;
          height: 360px !important;
          margin-left: -270px;
        }
      }
      &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
          width: 373px !important;
          margin-left: -260px;
        }
        &-list{
          display: flex;
          flex-direction: column;
          width: 370px !important;
          margin-left: -275px;
        }
      }
    }
  }
}


@media (prefers-color-scheme: dark){
  #about{
    .container{
      .about{
        .about_right{
          h1{
            color: white;
          }

          ul{
            li{
              color: white;
            }
          }
        }
      }
    }
  }
}