header{
    width: 100%;
    margin: 0;
    padding: 16px;
    position: fixed;
    z-index: 33;
    top: 0;
    backdrop-filter: blur(25px);
    .nav{
        &_wrap{
            display: flex;
            padding: 0px 32px;
            justify-content: space-between;
            align-items: center;
    
           &--list{
            display: flex;
            align-items: center;
            gap: 24px;
            &-item-link{
                color: $text-color;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                --c: no-repeat linear-gradient(#1095c1 0 0);
                background: 
                var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),
                var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
                transition: 0.15s var(--t,0s), background-position .3s calc(.3s - var(--t,0s)) ease-in-out;
                &:hover{
                    color: white;
                    --p: 101%;
                    --t: 0.3s;
                }
            }
            &-blog{
                display: flex;
                align-items: center;
                gap: 16px;
               }
               &-blog > button{
                display: flex;
                padding: 6px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 12px;
                background:$text-gray900;
                color: $text-btn;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;

               }
           }
         
        }
    }
    
}
@media only screen and (max-width:768px){
    header{
        .nav_wrap--list{
            display: none;
        }
        overflow-x:hidden;
    }
    }
