header{
    width: 100%;
    margin: 0;
    padding: 16px;
    .nav{
        &_wrap{
            display: flex;
            padding: 0px 32px;
            justify-content: space-between;
            align-items: center;
    
           &--list{
            display: flex;
            align-items: center;
            gap: 24px;
            &-item-link{
                color: $text-color;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                transition: 0.2s ease-in-out;
                &:hover{
                    color: black;
                    border-bottom: 1px solid $text-color;
                }
            }
            &-blog{
                display: flex;
                align-items: center;
                gap: 16px;
               }
               &-blog > button{
                display: flex;
                padding: 6px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 12px;
                background:$text-gray900;
                color: $text-btn;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;

               }
           }
         
        }
    }
    
}