#hero {
  @include section;
  .hero_auto {
    display: flex;
    align-items: center;
    gap: 46px;
  }

  .hero_left {
    display: flex;
    height: 350px;
    max-width: 768px;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    &-content > h1 {
      font-family: Inter;
      font-size: 60px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -0.02em;
      text-align: left;
      margin-top: 50px;
      .rotate {
        margin-left: 10px;
        width: 60px;
        height: 55px;
        animation: rotation 0.3s infinite ease-in-out;
      @keyframes rotation {
        from {
          transform: rotate(-20deg);
        }
        to {
          transform: rotate(30deg);
        }
      }
      }
    }
    &-content > p {
      color: $text-color;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    &-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      &_location {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        p {
          color: $text-color;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      &_dot {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        p {
          color: $text-color;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    &-links {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  .hero_right {
    display: flex;
    height: 360px;
    min-width: 384px;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    img {
      width: 280px;
      height: 320px;
      align-items: center;
      box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
      -webkit-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
      -moz-box-shadow: 3px 1px 0px -5px rgba(229, 231, 235, 0.55);
      cursor: pointer;
      transition: all 0.2s ease;
      filter: grayscale(1);
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
        -webkit-box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
        -moz-box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
      }
    }
  }
}
@media only screen and (max-width:768px){
#hero{

  margin-top: 100px;
  .hero_auto{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .hero_right{
      margin-bottom: 100px;

    }
    .hero_left{
      margin-bottom: 100px;
    }
    .left-content{
      h1{
        width: 303px;
        margin-top: 150px !important;
        padding-top: 150px;
      }
      
    }
  }

}
}



@media (prefers-color-scheme: dark){
    #hero{
      .container{
        .hero_auto{
          .hero_left{
            .hero_left-content{
              h1, p {
                color: white !important;
              }
            }

            .hero_left-group{
              div{
                box-icon{
                  filter: brightness(100);
                }
                a{
                  p{
                    color: white;
                  }
                }

                p{
                  color: white;
                }
              }
            }

            .hero_left-links{
              a{
                box-icon{
                  filter: brightness(100);
                }
                img{
                  filter: brightness(100);
                }
              }
            }
          }
        }
      }
    }
}