#skills{
    @include section;
    .skills_auto{
        margin: auto;
        width: 105px; 
        padding: 4px 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 12px;
        background: $text-gray200;
        color: $text-color;
        margin-bottom: 16px;
            p{
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; 
            }
    }
    h1{
        margin: 0 auto;
        max-width: 576px;
        align-self: stretch;
        color:$text-color;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 48px;
    }
    .skills{
        display: flex;
        padding: 0px 32px;
        align-items: center;
        gap: 48px;
        &_list{
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            justify-content: space-evenly;
            align-items:center;
            &-item{
                text-align: center;
                img{
                    align-items: center;
                    transition: all 0.2s ease;
                    cursor: pointer;
                }
                p{
                   
                    margin-top: 8px;
                    color: $text-color;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; 
                }
                &:hover{
                    filter: grayscale(0);
                    transform: scale(1.1);
                    box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
                    -webkit-box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
                    -moz-box-shadow: 32px 35px 5px 3px rgba(213, 218, 222, 1);
                }
            }
        }
    }
    }
    @media only screen and (max-width:768px){
        .skills_list-item{
            margin-left: -20px;
            width: 55px;
            gap: 18px;
            display: grid;
            grid-template-columns: repeat(3 auto);
        }
    }

    @media (prefers-color-scheme: dark){
        #skills{
            .container{
                h1{
                    color: white;
                }
                .skills{
                    ul{
                        li{
                            p{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }